$font: 'Karla', sans-serif;
$cyan: hsl(179, 62%, 43%);
$brightYellow: hsl(71, 73%, 54%);
$grayishBlue: hsl(218, 22%, 67%);
$lightGray: hsl(204, 43%, 93%);
$white: #fff;


body {
    font-family: $font;
}

.mainHeader {
    color: $cyan;
    font-weight: 700;
    font-size: 28px;
    padding-top: 30px;
    padding-left: 40px;
}

.subtitle {
    color: $brightYellow;
    font-size: 22px;
    font-weight: 700;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
}

.headerText {
    color: $grayishBlue;
    line-height: 1.7;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 30px;
}

.subscription {
    color: $white;
    padding-top: 30px;
    padding-left: 40px;
    font-weight: 400;
    font-size: 28px;
    @include media-breakpoint-up(xl){
        padding-top: 35px;
        font-size: 24px;
    }
}

.price {
    font-size: 50px;
    color: $white;
    font-weight: 400;
    padding-left: 40px;
    @include media-breakpoint-up(xl){
        font-size: 40px;
    }
    span {
        color: $lightGray;
        font-weight: 400;
        opacity: 0.5;
        font-size: 22px;
    }
}

.access {
    color: $lightGray;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 24px;
    @include media-breakpoint-up(xl){
        font-size: 18px;
    }
}

.whyTitle {
    padding-top: 35px;
    padding-left: 40px;
    font-size: 28px;
    padding-bottom: 20px;
    color: $white;
}

.whyUs {
    ul {
        color: $white;
        line-height: 1.5;
        font-size: 20px;
        font-weight: 700;
        @include media-breakpoint-up(xl){
            font-size: 16px;
        }
    }
}